<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skunk Works Sample Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}" />
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'jquery-3.4.1.min.js') }}" ></script>
    <script src="https://aframe.io/releases/0.9.2/aframe.min.js"></script>
    <script src="https://unpkg.com/aframe-environment-component/dist/aframe-environment-component.min.js"></script>
    <script src="//cdn.rawgit.com/donmccurdy/aframe-extras/v6.0.0/dist/aframe-extras.min.js"></script>
    <script src="https://rawgit.com/IdeaSpaceVR/aframe-ui-modal-component/master/dist/aframe-ui-modal-component.min.js"></script>
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'index.js') }}?u={{last_updated}}" ></script>

</head>
<body>
  <a-scene class="ascene">
        <a-assets>
          <a-asset-item id="skunk" src="{{ url_for('static', filename='models/skunk/scene.gltf') }}"></a-asset-item>
        
          <a-mixin id="outer-cube" geometry="primitive: box" scale="1.26 1.26 1.26" rotation="0 0 0" material="color: white; opacity: 0.5; transparent: true"></a-mixin>
          <a-mixin id="inner-cube" geometry="primitive: box" scale="0.9 0.9 0.9" rotation="0 0 0" ></a-mixin>
          <a-mixin id="wood-crate" material="src: {{ url_for('static', filename='img/mongo-crate.jpg') }}"></a-mixin>
          <a-mixin id="y-anim" animation="property: rotation; to: 0 360 0; loop: true; dur: 10000; easing: linear"></a-mixin>
          <a-mixin id="walkaround-anim" animation="property: rotation; to: 0 0 360; dur: 30000; loop: true;"></a-mixin>

          <img id="skunkapalooza" src="{{ url_for('static', filename='img/skunkapalooza.png') }}">
          <a-asset-item id="door" src="{{ url_for('static', filename='models/door/scene.gltf') }}"></a-asset-item>
          <a-asset-item id="picture-frame" src="{{ url_for('static', filename='models/frame/scene.gltf') }}"></a-asset-item>
          <a-mixin id="doc" geometry="primitive: box" scale="0.9 2 0.9" rotation="0 0 0" material="color: white; transparent:true; opacity: 0.4"></a-mixin>
          <a-mixin id="filter" geometry="primitive: cone; radiusBottom: 1; radiusTop: 0.1"></a-mixin>

        </a-assets>

        <a-entity environment="preset: arches; skyType: atmosphere; dressingAmount: 1"></a-entity>

        <a-entity id="skunkwrap" mixin="y-anim" position="0 0.1 -5">
          <a-entity gltf-model="#skunk" scale="0.3 0.3 0.3" position="0 0 -8"></a-entity>
        </a-entity>

        {% set leftPos = (-1 * data|length) + 1 %}
        <a-entity class="collection-wrapper">
            {% for n in data %}

            <a-entity position="{{ leftPos + (2 * loop.index0) }} 1.5 -4">
              <a-text value="{{ n['name'] }}" position="-0.5 1.0 0" side="double"></a-text>
              <a-entity id="{{ n['name'] }}" mixin="y-anim" class="collection-box">
                <a-entity mixin="outer-cube" material="color: {{n['color']}}"></a-entity>
                <a-entity mixin="inner-cube wood-crate"></a-entity>
            </a-entity>
            </a-entity>
            {% endfor %}
        </a-entity>
        
        {% set leftPos = (-1 * data|length) + 1 %}
        <a-entity position="{{ leftPos + 2 }} 1 -4" class="documents-wrapper"></a-entity>

        <a-camera position="0 1.5 0" look-controls wasd-controls="acceleration: 250" user-height="0"><a-cursor></a-cursor></a-camera>

        <a-box id="target" box="db_a" position="-4 1 -4" rotation="0 0 0" scale="1.25 1.25 1.25" load-document-event></a-box>
    </a-scene>

</body>
</html>
